:root {
    --brand1: #021D3D; 
    --brand1-Dark: #000913;
    --brand2: #eaeaec;  
    --grey0: #0A0C0D;
    --grey1: #212529;
    --grey2: #495057;
    --grey3: #868E96;
    --grey4: #DEE2E6;
    --wheat: #f5deb3;
    --grey-opacity-1: rgba(33, 37, 41, 0.5);
    --whiteFixed: #FFF; 
}