.main__sectionFirst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}

.section__text {
    display: flex;
    width: 90%;
    flex-direction: column;
    max-width: 1200px;
    gap: 20px;
}

.section__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__img img {
    width: 100%;
    max-width: 1200px;
    
}

.main__section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 35px;
}

.main__section>h2 {
    text-align: center;
}

.section__div {
    width: 80%;
    max-width: 200px;
    display: flex;
    height: 120px;
    border-radius: 5px;
    background-color: var(--brand1);
    align-items: center;
    justify-content: center;
}

.section__list {
    width: 80%;
    max-width: 200px;
}

.main__div {
    display: flex;
    overflow-y: auto;
    padding: 10px;
    gap: 10px;
    width: 100%;
    flex-direction: column;
    height: 460px;
    justify-content: flex-start;
    align-items: center;
}

.main__div li {
    width: 265px;
    display: flex;
    min-height: 120px;
    border-radius: 5px;
    background-color: var(--brand1);
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    color: white;
    cursor: pointer;
}


@media (min-width: 1024px) {

    .main__sectionFirst {
        flex-direction: row;
    }

    .section__text {
        padding: 0 24px;
    }

    .main__section {
        gap: 25px;
        margin-top: 30px;
    }

    .main__div {
        width: 90%;
        /* transform: translate(10px); */
        max-width: 900px;
        margin-top: 20px;
        height: 430px;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: auto;
        align-items: center;
        justify-content: space-between;
    }

    .main__div li:hover {
        width: 300px;
        transition: 800ms;
    }

    .section__list {
        width: 90%;
        max-width: 1200px;
    }

    
}